.about {
  text-align: center;
  padding: 0% 20%;
  /* margin: -20px; */
  line-height: 2.0;
  opacity: 1.9;
}
.about h3 {
  padding-top: 30px;
  text-align: center;
  text-decoration: underline;
}

.about p {
  text-align: justify;
  padding-bottom: 50px;
}
@media (max-width: 720px) {
  .about {
    text-align: justify;
    padding: 0px 30px;
    line-height: 1.8;
  }
  .about p {
    font-size: 17px;
  }
  .edu {
    padding: 0% 10%;
    text-align: center;
  }
}
