.Avatar {
  text-align: center;
  padding: 0% 20%;
  padding: 20px;
}

.Avatar Image {
  height: 100px;
  width: 100px;
}
.Avatar h2{
  color: rgb(40, 140, 21);
}
/* code for Waving hand */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/* code for Waving hand */

.Avatar p {
  text-align: center;
  margin: 0px;
}
@media (max-width: 720px) {
  .Avatar {
    padding: 30px;
  }
  .Avatar p {
    text-align: justify;
    margin: 25px;
    font-size: 17px;
  }
  .Avatar Image {
    height: 500px;
    width: 500px;
  }
}
