html,
body {
  padding: 0px;
  margin: 0px;
  font-size: large;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Roboto Slab', serif;
}

.header {
  text-align: center;
  background-color: black;
  color: aliceblue;
  height: 55px;
  padding: 10px;


  /* Hold the header in top of the screen */

  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.first-word-uppercase-p::first-letter {
  font-size: 35px;
  color: rgb(135, 247, 113);
  font-weight: bold;
  line-height: 0.75;
}
.header h3{
  color: rgb(135, 247, 113);
  cursor: pointer;
}
.footer {
  text-align: center;
  background-color: black;
  color: aliceblue;
  height: 45px;
  padding: 10px;
}
.footer p{
  margin: 10px;
}

@media (max-width: 720px) {
  p{
    margin: 25px;
  }
}
@media (max-width: 220px) {
  .header h3{
    font-size: 15px;
  }
}