html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.header {
  text-align: center;
  background-color: black;
  color: aliceblue;
  height: 45px;
  padding: 10px;

  /* Hold the header in top of the screen */

  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.header h3{
  color: rgb(135, 247, 113);
}
.footer {
  text-align: center;
  background-color: black;
  color: aliceblue;
  height: 45px;
  padding: 10px;
}

@media (max-width: 220px) {
  .header h3{
    font-size: 15px;
  }
}