.skill {
  padding: 20px;
  margin: 20px;
}
.skill h3 {
  padding-top: 40px;
  text-align: center;
  text-decoration: underline;
}
.skill i {
  display: grid;
}
.icon {
  display: flex;
  padding: 10px 90px;
  margin: 20px 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon div {
  margin: 20px 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.react,
.node,
.express,
.mongodb,
.next,
.js,
.html,
.css,
.python,
.postman,
.github,
.git {
  margin: 20px;
  flex-direction: column;
}

/* This section rotate icon */

.reactlogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.nodelogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.expresslogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.mongodblogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.nextlogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.jslogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.htmllogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.csslogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.pythonlogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.postmanlogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.githublogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.gitlogo:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

.reactlogo,
.nodelogo,
.expresslogo,
.mongodblogo,
.nextlogo,
.jslogo,
.htmllogo,
.csslogo,
.pythonlogo,
.postmanlogo,
.githublogo,
.gitlogo {
  font-size: 50px;
}
.reactlogo {
  color: #61dbfb;
}
.nodelogo {
  color: #3c873a;
}
.expresslogo {
  color: #060a06;
}
.mongodblogo {
  color: #589636;
}
.nextlogo {
  color: black;
}
.jslogo {
  color: #f0db4f;
}
.htmllogo {
  color: #e34c26;
}
.csslogo {
  color: #264de4;
}
.pythonlogo {
  color: #ffd43b;
}
.postmanlogo {
  color: #ef5b25;
}
.githublogo {
  color: black;
}
.gitlogo {
  color: #f1502f;
}
@media (max-width: 720px) {
  .icon {
    display: flex;
    flex-direction: row;
    margin: 1.3em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .reactlogo,
  .nodelogo,
  .expresslogo,
  .mongodblogo,
  .nextlogo,
  .jslogo,
  .htmllogo,
  .csslogo,
  .pythonlogo,
  .postmanlogo,
  .githublogo,
  .gitlogo {
    font-size: 50px;
  }
}

@media (max-width: 320px) {
  .icon {
    margin-left: 10%;
  }
}
@media (max-width: 280px) {
  .icon {
    margin-left: 5%;
  }
}
@media (max-width: 250px) {
  .icon {
    margin-left: 1%;
  }
}
